.userAccountDetailsBackground {
    background-image: url('./background-6.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* width: 100%;
    height: 100vh; */
}

.easyBox .full .accDetails span{
    color: black;
}